/* card_type */
#card_type > h2 {
  color: #243c84;
}
#card_type > p {
  width: 28%;
  margin: 0 auto 70px;
  word-break: keep-all;
  line-height: 150%;
}
.card_inner {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 32%;
}
.card_header {
}
.card_body {
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
}
.card_body .card_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #243c84;
}
.card_body .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.card_body .btn {
  color: #202020;
}
